@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-xl md:text-2xl lg:text-3xl;

}
h2 {
  @apply text-lg md:text-xl lg:text-2xl;

}
h3 {
  @apply text-[16px] md:text-lg ;

}
p {
  @apply text-sm md:text-[16px];

}
body {
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.thumbs .swiper-slide {
  opacity: 0.7;
  border-color: #fff;
}

.thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));

}