@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}


.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.swiper-slide img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  object-fit: fill;
  object-position: center;

}

/* .swiper-slide {
  width: 50%;
} */